.cs-find-pass-email .form2-main {
    margin: 0 auto 0 auto;
}
.cs-find-pass-email .findpass-tab .ant-tabs-tab-btn {
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    color: #ffffff33;
}
.cs-find-pass-email .findpass-tab .ant-tabs-nav-list {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.cs-find-pass-email .findpass-tab .ant-tabs-tab {
    width: 50%;
    justify-content: center;
    margin: 0;
    padding: 12px 20px;
}
.cs-find-pass-email .findpass-tab > .ant-tabs-nav .ant-tabs-ink-bar,
.cs-find-pass-email .findpass-tab > div > .ant-tabs-nav .ant-tabs-ink-bar {
    bottom: -2px;
}
.cs-find-pass-email .findpass-tab  .ant-tabs-nav {
    margin-bottom: 40px;
}
@media (max-width: 480px) {
    .cs-find-pass-email .findpass-tab .ant-tabs-tab-btn {
        font-size: 16px;
        line-height: 1.75;
    }
}
@media (max-width: 320px) {
    .cs-find-pass-email .findpass-tab .ant-tabs-tab-btn {
        font-size: 12px;
    }
}