.cs-register-cms .form2-main {
    margin: 0 auto 0 auto;
}
.cs-register-cms .cs-form2-agree-title {
    font-weight: normal;
    font-size: 18px!important;
    line-height: 24px;
    color: #ffffff;
    display: flex;
}
.cs-register-cms .cs-form2-agree-link {
    font-weight: normal;
    font-size: 18px!important;
    line-height: 24px;
    color: #ffffff;
    text-decoration: underline;
}
.cs-register-cms .cs-form2-agree-title .ant-checkbox-inner {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #ffffff33!important;
    border-color: #ffffff33;
}
.cs-register-cms .cs-form2-agree-title .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ffffff!important;
    border-color: #ffffff;
}
.cs-register-cms .cs-form2-agree-title .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #44358f;
    left: 30%;   
    transform: rotate(45deg) scale(1.3) translate(-50%, -50%);
}   
.cs-register-cms .cs-form2-agree-title span:nth-child(2) {
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}
@media(max-width: 575px) {
    .cs-register-cms .cs-form2-agree-title .ant-checkbox-checked .ant-checkbox-inner::after {
        left: 25%;
        transform: rotate(45deg) scale(1) translate(-50%, -50%);
    }
}